.Login{
  margin: 0.5% auto;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  display: flex;
  overflow: hidden;
  
  .img-sec{
    width: 40%;

    img{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .login-form-sec{
    width: 60%;
    padding: 56px 35px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .login-details{
      div:nth-child(1){
        width: 100%;
      }

      .login-password-details{
        margin: 3% 0;

        div:nth-child(1){
          width: 100%;
        }
      }

      .terms-policy{
        display: flex;
        align-items: center;
        gap: 1%;
        margin-top: 10%;
        color: #878787;
        font-size: 12px;
        font-weight: 400;

        p:nth-child(2),
        p:nth-child(3){
          color: #2874f0;
        }
      }

      button{
        margin: 5% 0;
        background: #fb641b;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
        border: none;
        color: #fff;
        width: 100%;
        height: 48px;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.5px;
        cursor: pointer;
      }
    }


    .create-acc-details{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #2874f0;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
    }
  }
}


@media (min-width: 320px) and (max-width: 768px){
  .Login{
    width: 99%;

    .img-sec{
      display: none;
    }

    .login-form-sec{
      width: 100%;
      padding: 24px;

      .login-details{
        .terms-policy{
          white-space: nowrap;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px){
  .Login{
    width: 70%;

    .login-details{
      .terms-policy{
        white-space: nowrap;
        flex-wrap: wrap;
      }
    }
  }
}