

.Navbar{
  background-color: #fff;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
  
  .content-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70% !important;
    margin: 0 auto;
    
    .col-1{
      display: flex;
      align-items: center;
      width: 60%;

      img{
        width: 14%;
        cursor: pointer;
      }

      .input{
        border: 1px solid transparent;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 14px;
        width: 76%;
        height: 35px;
        padding: 0px 0px 0px 6px;
        background-color: #f0f5ff;

        svg{
          font-size: 20px;
        }

        input{
          border: none;
          outline: none;
          width: 100%;
          height: -webkit-fill-available;
          background-color: transparent;
        }
      }
    }

    .col-2{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;

      li{
        display: flex;
        align-items: center;
        font-size: 17px;
        gap: 5px;
        cursor: pointer;

        span{
        margin-bottom: 2px;
        }
      }
      svg{
        font-size: 20px;
      }

      li:nth-child(1){
        width: 28%;
        height: 36px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        border-radius: 8px;
      }

        li:nth-child(1):hover{
          background-color: blue;
          transition: 0.5s;
        
          img{
            color: white;
          }
          span{
            color: white;
          }
          svg{
            color: white;
          }
        }
      }
    }
  }


  @media (min-width: 320px) and (max-width: 768px) { 
    .Navbar{

      .content-sec{
        width: 90% !important;

        .col-1{
          width: 100%;
          img{
            width: 100px !important;
          }
          .input{
            display: none;
          }
        }
        
        .col-2{
          width: 60%;

          .login{
            width: 60% !important;

            svg{
              font-size: 20px;
            }
          }

          li:nth-child(2),
          li:nth-child(3){
            span{
              display: none;
            }
          }
          li:nth-child(3){
            display: none;
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1200px) { 
    .Navbar{

      .content-sec{
        width: 90% !important;

        .col-1{
          width: 60%;

          img{
            width: 20% !important;
          }
          .input{
            padding: 0px 8px;
            width: 67%;

            input{  
             text-overflow: ellipsis;
            }
          }
        }
        
        .col-2{
          width: 30%;

          .login{
            width: 46% !important;

            svg{
              font-size: 20px;
            }
          }

          li:nth-child(2),
          li:nth-child(3){
            span{
              display: none;
            }
          }
        }
      }
    }
  } 
