@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: initial;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6,
div,
p,
span,
section,
ul,
li,
hr {
  margin: 0;
  padding: 0;
}

/* @media (min-width: 320px) and (max-width: 768px) { } */
/* @media (min-width: 768px) and (max-width: 1200px) { } */
